﻿
/* cellspacing */
/* table { border-collapse: separate; border-spacing: 5px; } // cellspacing="5" */

div.DataGridHolder
{
	border: 1px solid black;
	position: absolute;
	top: 70px; /*30px;*/ /* Make this the same as AppContentTitle.Height */
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: auto;
}

/* cellspacing="0" */
table.DataGrid
{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

/* cellpadding */
table.DataGrid th, table.DataGrid td
{
	padding: 5px;
	border: 1px solid silver;
}

.SystemQUT_DataGridRow
{
	background: aliceblue;
	font-size: large;
	cursor: pointer;
}
/*
	.SystemQUT_DataGridRow:hover
	{
		background: silver;
		color: white;
	}
*/

.SystemQUT_DataGridRow.Selected
{
	background: rgb(75, 75, 75);
	color: white;
}

.SystemQUT_DataGridRow.DataGridAlternateRow
{
	background: antiquewhite;
	font-size: large;
	cursor: pointer;
}

/*
		.SystemQUT_DataGridRow.DataGridAlternateRow:hover
		{
			background: silver;
			color: white;
		}
		*/

.SystemQUT_DataGridRow.DataGridAlternateRow.Selected
{
	background: rgb(75,75,75);
	color: white;
}

.DataGridHeading
{
	background: rgb(61, 138, 195);
	color: white;
	font-weight: bold;
	font-size: large;
}

.SystemQUT_NumericCell
{
	text-align: right;
}
