﻿/* Div for the header of regulon graph views */
.RegulonGraphViewerHeader
{
	color: rgb(50, 50, 50);
	text-align: center;
	vertical-align: middle;
	font-size: 12pt;
	margin: 0px;
	position: absolute;
	left: 0px;
	right: 0px;
	/*height: 140px;*/
	overflow: visible;
    top: 35px;
}

/* Attempting to get the drop downs in the header to appear differently */
.RegulonGraphViewerHeader select
{
	font-size: 10pt;
	font-family: monospace;
	background-color: rgb(50, 50, 50);
	color: white;
	margin: 0px 10px 0px 10px; /*  		border: none; 		outline: none; 		*/
}
/* Actual container for networks */
.RegulonDisplayHolder
{
	border: 1px solid black;
	position: absolute;
	top: 150px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: auto;
    text-align: center;
    opacity: 0.99;
    background-color: white;
}

.RegulonDisplayHolderPlusLegend
{
	border: 1px solid black;
	position: absolute;
	top: 150px;
	bottom: 0px;
	right: 0px;
	overflow: auto;
    text-align: center;
    opacity: 0.99;
    background-color: white;
    left:351px;
}

.RegulonDisplay {
    display:table;
    width:100%;
    min-height:100%;
}

/* Network-specific classes */

/* based on http://codepen.io/pixelthing/pen/QbxBYy */
/* For flashing centroids */
  @-webkit-keyframes flash {
    0%   { background-color: initial; }
    24% { background-color: initial; }
    25% { background-color: #00F; }
    49% { background-color: #00F; }
    50% { background-color: initial; }
    74% { background-color: initial; }
    75% { background-color: #00F; }
    99% { background-color: #00F; }
    100% { background-color: initial; }
  }
  @-moz-keyframes flash {
    0%   { background-color: initial; }
    24% { background-color: initial; }
    25% { background-color: #00F; }
    49% { background-color: #00F; }
    50% { background-color: initial; }
    74% { background-color: initial; }
    75% { background-color: #00F; }
    99% { background-color: #00F; }
    100% { background-color: initial; }
  }
  @keyframes flash {
    0%   { background-color: initial; }
    24% { background-color: initial; }
    25% { background-color: #00F; }
    49% { background-color: #00F; }
    50% { background-color: initial; }
    74% { background-color: initial; }
    75% { background-color: #00F; }
    99% { background-color: #00F; }
    100% { background-color: initial; }
  }

/* Default regulon graph class */
.RegulonGraph {
    /*border: 2px dashed #dddddd;*/
    background-color: initial;
    padding: 2px;
}

/* Show the dashed border on hover */
.RegulonGraph:hover {
    border: 2px dashed #dddddd;
    padding: 0px;
}

/* Regulon graph that flashes when it becomes the new centroid */
.RegulonGraph_CentroidFlash {
  -webkit-animation: flash 2s;
  -moz-animation:    flash 2s;
  animation:         flash 2s;
  /*background-color: orange;*/
    border: 2px solid #0000FF;
    padding: 0px;
}

/* Regulon graph that is a centroid */
.RegulonGraph_Centroid {
    border: 2px solid #0000FF;
    /*background-color: orange;*/
    padding: 0px;
}

/* Regulon graph that is selected */
.RegulonGraph_Selected {
    /*border: 2px solid #00FF00;*/
    background-color: #CCC;
}

/* Regulon graph currently being dragged */
.RegulonGraph_Dragged {
    border: 2px solid #FF0000;
    background-color: red;
    padding: 0px;
}

/* Regulon graph being highlighted as a drag target */
.RegulonGraph_Highlighted {
    border: 2px solid pink;
    background-color: pink;
    padding: 0px;
}

/* Regulon graph default label */
.RegulonGraphLabel {
    /*text-anchor: middle;*/
}

/* Regulon graph two line label */
.RegulonGraphLabelTwoLine {
    /*text-anchor: middle;*/
    font-family: monospace;
}

.GeneNodeLabel
{
    text-anchor:start;
    font-size:7px;
    opacity:0.5;
}

.GeneNodeLabelReverse
{
    text-anchor:end;
    font-size:7px;
    opacity:0.5;
}

.GeneNodeLabel:hover {
    opacity:1;
}

.GeneNodeLabelReverse:hover {
    opacity:1;
}

@media only screen and (min-width: 1921px) and (min-height: /* 1201px */ 1081px) {
    .RegulonDisplayHolder {
        top: 250px;
    }

    .RegulonDisplayHolderPlusLegend {
        top: 250px;
    }

    .GeneNodeLabel
    {
        text-anchor:start;
        font-size:3.5px;
        opacity:0.5;
    }

    .GeneNodeLabelReverse
    {
        text-anchor:end;
        font-size:3.5px;
        opacity:0.5;
    }
}

/* Testing for node/spoke attributes defined by CSS */

.GeneDefault {
    opacity:1;
    stroke-width:1.5px;
    fill:#dddddd;
    stroke:#dddddd;
}

/*.GeneDefaultLarge {
    opacity:1;
    stroke-width:0.5px;
    fill:#dddddd;
    stroke:#dddddd;
}*/

.GeneRegulator {
    fill:black;
    stroke:black;
    color:black;
}

.TargetGeneColour1 {
    fill:#8dd3c7;
    color:#8dd3c7;
    stroke:#8dd3c7;
}

.TargetGeneColour2 {
    fill:#ffffb3;
    color:#ffffb3;
    stroke:#ffffb3;
}

.TargetGeneColour3 {
    fill:#bebada;
    color:#bebada;
    stroke:#bebada;
}

.TargetGeneColour4 {
    fill:#fb8072;
    color:#fb8072;
    stroke:#fb8072;
}

.TargetGeneColour5 {
    fill:#80b1d3;
    color:#80b1d3;
    stroke:#80b1d3;
}

.TargetGeneColour6 {
    fill:#fdb462;
    color:#fdb462;
    stroke:#fdb462;
}

.TargetGeneColour7 {
    fill:#b3de69;
    color:#b3de69;
    stroke:#b3de69;
}

.TargetGeneColour8 {
    fill:#fccde5;
    color:#fccde5;
    stroke:#fccde5;
}

.TargetGeneColour9 {
    fill:#d9d9d9;
    color:#d9d9d9;
    stroke:#d9d9d9;
}

.TargetGeneColour10 {
    fill:#bc80bd;
    color:#bc80bd;
    stroke:#bc80bd;
}

.TargetGeneColour11 {
    fill:#ccebc5;
    color:#ccebc5;
    stroke:#ccebc5;
}

.TargetGeneColour12 {
    fill:#ffed6f;
    color:#ffed6f;
    stroke:#ffed6f;
}

.TargetGeneColour13 {
    fill:#a6cee3;
    color:#a6cee3;
    stroke:#a6cee3;
}

.TargetGeneColour14 {
    fill:#1f78b4;
    color:#1f78b4;
    stroke:#1f78b4;
}

.TargetGeneColour15 {
    fill:#b2df8a;
    color:#b2df8a;
    stroke:#b2df8a;
}

.TargetGeneColour16 {
    fill:#33a02c;
    color:#33a02c;
    stroke:#33a02c;
}

.TargetGeneColour17 {
    fill:#fb9a99;
    color:#fb9a99;
    stroke:#fb9a99;
}

.TargetGeneColour18 {
    fill:#e31a1c;
    color:#e31a1c;
    stroke:#e31a1c;
}

.TargetGeneColour19 {
    fill:#fdbf6f;
    color:#fdbf6f;
    stroke:#fdbf6f;
}

.TargetGeneColour20 {
    fill:#ff7f00;
    color:#ff7f00;
    stroke:#ff7f00;
}

.TargetGeneColour21 {
    fill:#cab2d6;
    color:#cab2d6;
    stroke:#cab2d6;
}

.TargetGeneColour22 {
    fill:#6a3d9a;
    color:#6a3d9a;
    stroke:#6a3d9a;
}

.TargetGeneColour23 {
    fill:#ffff99;
    color:#ffff99;
    stroke:#ffff99;
}

.TargetGeneColour24 {
    fill:#b15928;
    color:#b15928;
    stroke:#b15928;
}

.CompareColourLeft {
    fill:#FF0000;
    color:#FF0000;
    stroke:#FF0000;
}

.CompareColourRight {
    fill:#0000FF;
    color:#0000FF;
    stroke:#0000FF;
}

.CompareColourAll {
    fill:#007F00;
    color:#007F00;
    stroke:#007F00;
}

.CompareColourSome {
    fill:#7F3300;
    color:#7F3300;
    stroke:#7F3300;
}

.CompareHidden {
    fill:#FFFFFF;
    visibility:hidden;
    stroke:#FFFFFF;
}

.GeneNoSite {
    stroke:#eeeeee;
    stroke-dasharray:5.5px;
}

.GeneSelected {
    stroke:blue;
}

.GeneHighlighted {
    stroke:#302833;
}

.GeneHidden {
    opacity:0;
    visibility:hidden;
}

.GeneNotSelected {
    opacity:0.25;
}

.GeneNoRegulator {
    fill:gray;
    stroke:gray;
    color:gray;
}

.GraphCentreNumber {
    font-size:16px;
    font-family:monospace;
    font-weight:lighter;
}

.GraphGroupColumn {
    background-color:white;
    margin:3px;
    border:1px dashed black;
    display:table-cell;
}

.GraphGroupPalette {
    background-color:white;
    margin:0px;
    border:1px dashed black;
    display:table-cell;
    height:auto;
    width:100%;
}

/* Smaller screens */
@media only screen and (max-height: 600px) {
    /* Actual container for networks */
    .RegulonDisplayHolder
    {
	    top: 90px;
    }

    .RegulonDisplayHolderPlusLegend
    {
	    top: 90px;
    }

	.RegulonGraphViewerHeader
	{
		top: 23px;
	}
}

/* Microsoft Surface */
@media only screen and (width: 1368px) and (height: 912px) {
    /* Actual container for networks */
    /*.RegulonDisplayHolder
    {
	    top: 90px;
    }

    .RegulonDisplayHolderPlusLegend
    {
	    top: 90px;
    }

	.RegulonGraphViewerHeader
	{
		top: 23px;
	}*/
}

/* Colour blind toggle testing (colour blind friendly colours not actually implemented yet) */
.CB_TargetGeneColour1 {
    fill:#f7fcf5;
    color:#f7fcf5;
    stroke:#f7fcf5;
}

.CB_TargetGeneColour2 {
    fill:#e5f5e0;
    color:#e5f5e0;
    stroke:#e5f5e0;
}

.CB_TargetGeneColour3 {
    fill:#c7e9c0;
    color:#c7e9c0;
    stroke:#c7e9c0;
}

.CB_TargetGeneColour4 {
    fill:#a1d99b;
    color:#a1d99b;
    stroke:#a1d99b;
}

.CB_TargetGeneColour5 {
    fill:#74c476;
    color:#74c476;
    stroke:#74c476;
}

.CB_TargetGeneColour6 {
    fill:#41ab5d;
    color:#41ab5d;
    stroke:#41ab5d;
}

.CB_TargetGeneColour7 {
    fill:#238b45;
    color:#238b45;
    stroke:#238b45;
}

.CB_TargetGeneColour8 {
    fill:#006d2c;
    color:#006d2c;
    stroke:#006d2c;
}

.CB_TargetGeneColour9 {
    fill:#00441b;
    color:#00441b;
    stroke:#00441b;
}

.CB_TargetGeneColour10 {
    fill:#f7fbff;
    color:#f7fbff;
    stroke:#f7fbff;
}

.CB_TargetGeneColour11 {
    fill:#deebf7;
    color:#deebf7;
    stroke:#deebf7;
}

.CB_TargetGeneColour12 {
    fill:#c6dbef;
    color:#c6dbef;
    stroke:#c6dbef;
}

.CB_TargetGeneColour13 {
    fill:#9ecae1;
    color:#9ecae1;
    stroke:#9ecae1;
}

.CB_TargetGeneColour14 {
    fill:#6baed6;
    color:#6baed6;
    stroke:#6baed6;
}

.CB_TargetGeneColour15 {
    fill:#4292c6;
    color:#4292c6;
    stroke:#4292c6;
}

.CB_TargetGeneColour16 {
    fill:#2171b5;
    color:#2171b5;
    stroke:#2171b5;
}

.CB_TargetGeneColour17 {
    fill:#08519c;
    color:#08519c;
    stroke:#08519c;
}

.CB_TargetGeneColour18 {
    fill:#08306b;
    color:#08306b;
    stroke:#08306b;
}

.CB_TargetGeneColour19 {
    fill:#f2f0f7;
    color:#f2f0f7;
    stroke:#f2f0f7;
}

.CB_TargetGeneColour20 {
    fill:#cbc9e2;
    color:#cbc9e2;
    stroke:#cbc9e2;
}

.CB_TargetGeneColour21 {
    fill:#9e9ac8;
    color:#9e9ac8;
    stroke:#9e9ac8;
}

.CB_TargetGeneColour22 {
    fill:#6a51a3;
    color:#6a51a3;
    stroke:#6a51a3;
}

.CB_TargetGeneColour23 {
    fill:#feedde;
    color:#feedde;
    stroke:#feedde;
}

.CB_TargetGeneColour24 {
    fill:#fdbe85;
    color:#fdbe85;
    stroke:#fdbe85;
}

.CB_CompareColourLeft {
    fill:#feedde;
    color:#feedde;
    stroke:#feedde;
}

.CB_CompareColourRight {
    fill:#fdbe85;
    color:#fdbe85;
    stroke:#fdbe85;
}

.CB_CompareColourAll {
    fill:#fd8d3c;
    color:#fd8d3c;
    stroke:#fd8d3c;
}

.CB_CompareColourSome {
    fill:#d94701;
    color:#d94701;
    stroke:#d94701;
}