﻿body
{
	overflow: hidden;
	font: 100% "Trebuchet MS" , sans-serif;
	margin: 0;
	padding: 0;
}

.AppContainer
{
	overflow: hidden;
	width: 100%;
	height: 100%; /* background: salmon; */
}

.AppTitle
{
	position: absolute;
	top: 8px;
	left: 8px;
	right: 8px;
	height: 60px;
	text-align: center;
	vertical-align: middle;
	font-family: Sans-Serif;
	font-weight: bold;
	font-size: 20pt;
	height: 60px;
}

.AppTitle a img
{
	border: 0;
}

.PrimaryToolbar
{
	position: absolute;
	top: 76px;
	left: 8px;
	right: 8px;
	min-width: 800px;
	font-size: 20px;
	font-style: italic;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: 1px solid silver;
	border-top: 1px solid silver;
}

.SecondaryToolbar
{
	position: absolute;
	top: 116px;
	left: 8px;
	right: 8px;
	font-size: 17px;
	font-style: italic;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: 1px solid silver;
}

.ToolButton
{
	margin: 0px 2pt 0px 0px;
	padding: 4px 10px 4px 10px;
	cursor: pointer;
	vertical-align: middle;
	display: inline-block;
	border-radius: 4px;
	font-family: Sans-Serif;
	background: rgb(230,230,230);
	color: rgb(64,64,64);
}

.PrimaryToolbar .ToolButton
{
}

.SecondaryToolbar .ToolButton
{
}

.ToolButton.Selected
{
	background: rgb(0,71,127);
	color: white;
}

/*.ToolButton:hover
{
	background: rgb(0,71,127);
	color: white;
}
*/

.AppContentHolder
{
	display: none;
}

.AppContentHolder.Active
{
	display: inline;
}

.AppContent
{
	position: absolute;
	left: 8px;
	right: 8px;
	top: 160px;
	bottom: 8px;
	overflow: auto;
	display: none;
}

.AppContent.Active
{
	display: inline;
}

.AppContentTitle
{
	color: rgb(50, 50, 50);
	text-align: center;
	vertical-align: middle;
	font-size: 12pt;
	margin: 0px;
	position: absolute;
	left: 0px;
	right: 0px;
	height: 30px;
	overflow: hidden;
}

.AppContentTitle select
{
	font-size: 10pt;
	font-family: monospace;
	background-color: rgb(50, 50, 50);
	color: white;
	margin: 0px 10px 0px 10px; /*  		border: none; 		outline: none; 		*/
}

._HomeAbout
{
	background: Green;
}

.Centre
{
	margin-left: auto;
	margin-right: auto;
}

.CentreImage
{
	margin-left: auto;
	margin-right: auto;
    display: block;
}

.FunctionChooser {
    width: 400px;
    visibility: hidden;
}

.ChooserPopup {
    position: absolute;
    /*min-width: 200px;*/
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display:block;
    z-index:15;
	background: rgb(230,230,230);
	color: rgb(64,64,64);
	margin: 0px 2pt 0px 20px;
	padding: 4px 10px 4px 10px;
	border-radius: 4px;
}

.ChooserPopupLabel {
    /*color: red;*/
    /*padding: 12px 16px;*/
    text-decoration: none;
    display: block;
    text-align: left;
	cursor: pointer;
}

.CompareChooserLeftNetwork {
    width: 250px;
}

.CompareChooserRightNetwork {
    width: 250px;
}

.CompareChooserReference {
    width: 250px;
}

.LoadingOverlay {
    /*width: 100px;
    height: 100px;
    background-color: red;*/

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    /*background: url(/RegulonExplorer/page-loader.gif);
    background-size: 100px 100px;*/

	border-radius: 4px;
	font-family: Sans-Serif;
	background: rgb(0,71,127);
	color: white;
    width: 180px;
    height: 60px;
    text-align: center;
	font-size: 20px;
	font-style: italic;
}

.GraphGroupLabel {
    position: absolute;
    /*left: 5px;
    top: 5px;*/
    font-size: 20px;
    opacity: 0.5;
    color: black;
}

.GraphGroupLabelPalette {
    position: absolute;
    left: 35px;
    top: 5px;
    font-size: 20px;
    opacity: 0.5;
    color: black;
}

/* Xin-Yi nav-wizard.css */

.arrow{
  text-align:center;
  line-height: 24px;
  display: inline-block;
  position: relative;
  min-width: 125px;
  height: 24px;
  background-color: #e6e6e6;
  padding: 0 10px 0 20px;
  margin-left: 5px;
  color: #868383;
}
.arrow:before{
  position:absolute;
  content: "";
  left:0;
  border-width: 12px;
  border-style: solid;
  border-color: transparent transparent transparent white;
}
.arrow:after{
  position: absolute;
  content: "";
  right: -12px;
  border-width: 12px 0 12px 12px;
  border-style: solid;
  border-color: transparent transparent transparent #e6e6e6;
  z-index: 2;
}
.arrow.Selected{background-color: #00477f; color:white;}
.arrow.Selected:after {border-left-color:#00477f;}
.arrow.visited{background-color: #4DB6AC;}
.arrow.visited:after {border-left-color:#4DB6AC;}
.nav span:first-child::before, .nav span:last-child::after{border:none;}
.nav span:first-child {border-radius: 5px 0 0 5px;}
.nav span:last-child{border-right: 12px solid #e6e6e6; border-radius:0 5px 5px 0;padding-left:15px;}

/* end nav-wizard.css */

.steps ol li,.steps ul li,.block ol li,.block ul li{margin-bottom:1em;}

.section{
  clear:both;
  margin:2em;
}

.block,.steps{
  padding: 5px 20px;
  margin: 0 0.75em 2em 0.75em;
  float: left;
  width: 28%;
  min-height: 405px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 10px 0 #aaa;
  -moz-box-shadow: 1px 1px 10px 0 #aaa;
  -webkit-box-shadow: 1px 1px 10px 0 #aaa;
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-box-shadow:10px;
}
.steps{background-color: #4DB6AC;}

/* Smaller screens */
@media only screen and (max-height: 600px) {
    .AppTitle {
        visibility: hidden;
    }

    .PrimaryToolbar {
        top: 0px;
    }

    .SecondaryToolbar {
        top: 36px;
    }

    .AppContent {
        top: 74px;
    }

    .ToolButton
    {
        margin: 0px 1pt 0px 0px;
        padding: 2px 5px 2px 5px;
        cursor: pointer;
        vertical-align: middle;
        display: inline-block;
        border-radius: 2px;
        font-family: Sans-Serif;
        background: rgb(230,230,230);
        color: rgb(64,64,64);
        font-size: smaller;
    }
}

/* Microsoft Surface */
@media only screen and (width: 1368px) and (height: 912px) {
    .AppTitle {
        visibility: hidden;
    }

    .PrimaryToolbar {
        top: 0px;
    }

    .SecondaryToolbar {
        top: 36px;
    }

    .AppContent {
        top: 74px;
    }

    .ToolButton
    {
        margin: 0px 1pt 0px 0px;
        padding: 2px 5px 2px 5px;
        cursor: pointer;
        vertical-align: middle;
        display: inline-block;
        border-radius: 2px;
        font-family: Sans-Serif;
        background: rgb(230,230,230);
        color: rgb(64,64,64);
        font-size: smaller;
    }
}

@media only screen and (min-width: 1921px) and (min-height: /* 1201px */ 1081px){
/* @media only screen and (min-width: 1367px) and (min-height: 769px){ */
/* @media only screen and (min-width: 900px) and (min-height: 600px){  /* testing */
    .LoadingOverlay
    {
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;

        margin: auto;

	    border-radius: 4px;
	    font-family: Sans-Serif;
	    background: rgb(0,71,127);
	    color: white;
        width: 360px;
        height: 120px;
        text-align: center;
	    font-size: 40px;
	    font-style: italic;
    }

    .RegulonGraphViewerSidePanelToggle
    {
        top:251px;
    }

    .CompareChooserLeftNetwork {
        width: 500px;
        font-size:20px;
    }

    .CompareChooserRightNetwork {
        width: 500px;
        font-size:20px;
    }

    .CompareChooserReference {
        width: 500px;
        font-size:20px;
    }

    .RegulonGraphViewerHeader input {
        font-size:20px;
    }

	.AppContentTitle {
        font-size:20px;
    }

    .AppContentTitle input {
        font-size:20px;
    }
}

.RegPreciseStatusLabel
{
	color: black;
	vertical-align: middle;
	font-size: 12pt;
    font-style:normal;
}

.RegPreciseStatusLabelUp
{
	color: darkgreen;
	vertical-align: middle;
	font-size: 12pt;
    font-style:normal;
    font-weight: bold;
}

.RegPreciseStatusLabelDown
{
	color: maroon;
	vertical-align: middle;
	font-size: 12pt;
    font-style:normal;
    font-weight: bold;
}

.RegPreciseStatusLabelUnknown
{
	color: gray;
	vertical-align: middle;
	font-size: 12pt;
    font-style:normal;
    font-weight: bold;
}

/* Smaller screens */
@media only screen and (max-height: 600px) {
    .AppContentTitle
    {
	    height: 20px;
    }
}

/* Microsoft Surface */
@media only screen and (width: 1368px) and (height: 912px) {
    /*.AppContentTitle
    {
	    height: 20px;
    }*/
}