﻿.SystemQUT_SvgButton
{
	fill: /* rgb(0,71,127);*/
			rgb(50, 50, 50);
	stroke: silver;
	stroke-opacity: 0.5;
}

.SystemQUT_RecordNavigator
{
	width: 75%;
}

.SystemQUT_RecordNavigator *.SystemQUT_Text
{
	/* width: 132px; */
	height: 30px;
	/* background: rgb(231, 231, 231); */
	margin: 0px 5px 0px 5px;
	/* border: 1px solid darkgray; */
	/*display: inline-block;*/
	vertical-align: middle;
	text-align: center;
	font-size: 16pt;
}

.SystemQUT_RecordNavigator button
{
	padding: 5px 5px 2px 5px;
	vertical-align: middle;
	margin: 0px 5px 0px 5px;
}

	.SystemQUT_RecordNavigator button svg
	{
		/* Maintain a 5:4 aspect ratio. The controls initially start with default PreserveAspectRatio behaviour -- xMidyMid with no stretching. */
		width: 15px;
		height: 12px;
		margin: 0px;
	}

/*
.SystemQUT_SvgButton
{
	border-radius: 3px;
	border-width: 2px;
	cursor: pointer;
}

	.SystemQUT_SvgButton:hover
	{
		background: rgb(0,71,127);
	}

	.SystemQUT_SvgButton >*:hover
	{
		background: rgb(0,71,127);
	}
	*/

/* Smaller screens */
@media only screen and (max-height: 600px) {
    .SystemQUT_RecordNavigator *.SystemQUT_Text
    {
	    font-size: 14px;
	    height: 22px;
    }

    .SystemQUT_RecordNavigator button
{
	padding: 4px 4px 1px 4px;
	vertical-align: top;
	margin: 0px 4px 0px 4px;
}

	.SystemQUT_RecordNavigator button svg
	{
		/* Maintain a 5:4 aspect ratio. The controls initially start with default PreserveAspectRatio behaviour -- xMidyMid with no stretching. */
		width: 13px;
		height: 10px;
		margin: 0px;
	}
}

/* Microsoft Surface */
@media only screen and (width: 1368px) and (height: 912px) {
    /*.SystemQUT_RecordNavigator *.SystemQUT_Text
    {
	    font-size: 14px;
	    height: 22px;
    }

    .SystemQUT_RecordNavigator button
{
	padding: 4px 4px 1px 4px;
	vertical-align: top;
	margin: 0px 4px 0px 4px;
}

	.SystemQUT_RecordNavigator button svg
	{
		/* Maintain a 5:4 aspect ratio. The controls initially start with default PreserveAspectRatio behaviour -- xMidyMid with no stretching. */
		/*width: 13px;
		height: 10px;
		margin: 0px;
	}
    */
}