﻿.SidePanel {
    /*opacity: 0;*/
    position:absolute;
    top:150px;
    left:0px;
    bottom: 0px;
    background-color:white;
    border: 1px solid black;
    overflow-y:auto;
    z-index:2;

    /* 25-09-2017 */
    width: 350px;
}

/*.SidePanel:hover {
    opacity: 1;
}*/

.SidePanel .LegendText {
    font-size: 12px;
}

/*.SidePanelLarge .LegendText {
    font-size: 20px;
}*/

.SidePanel .FunctionChooser {
    width: 250px;
}

.SidePanel .SortChooser {
    width: 250px;
}

.SidePanel .GroupsChooser {
    width: 50px;
}

.SidePanel .AutoGroupChooser {
    width: 50px;
}

.SidePanel .ZoomChooser {
    width: 200px;
}

.SidePanel .CompareChooserLeftNetwork {
    width: 250px;
}

.SidePanel .CompareChooserRightNetwork {
    width: 250px;
}

.SidePanel .CompareChooserReference {
    width: 250px;
}

.SidePanel td {
    text-align:left;
}

/*.SidePanelLarge {
    /*opacity: 0;*/
    /*position:absolute;
    top:150px;
    left:0px;
    bottom: 0px;
    background-color:white;
    border: 1px solid black;
    overflow-y:auto;
    z-index:2;
    font-size: 24px;
}*/

/*.SidePanelLarge:hover {
    opacity: 1;
}*/

/*.SidePanelLarge .FunctionChooser {
    width: 400px;
}

.SidePanelLarge .SortChooser {
    width: 400px;
}

.SidePanelLarge .GroupsChooser {
    width: 100px;
}

.SidePanelLarge .AutoGroupChooser {
    width: 100px;
}

.SidePanelLarge .ZoomChooser {
    width: 325px;
}

.SidePanelLarge .CompareChooserLeftNetwork {
    width: 400px;
}

.SidePanelLarge .CompareChooserRightNetwork {
    width: 400px;
}

.SidePanelLarge .CompareChooserReference {
    width: 400px;
}

.SidePanelLarge select
{
    height: 30px;
    font-size: 24px;
}

.SidePanelLarge button
{
    height: 30px;
    font-size: 24px;
}

.SidePanelLarge td {
    text-align:left;
}*/

@media only screen and (min-width: 1921px) and (min-height: /* 1201px */ 1081px){
/* @media only screen and (min-width: 1367px) and (min-height: 769px){ */
    .SidePanel {
        font-size: 24px;
        top:250px;
    }

    .SidePanel .FunctionChooser {
        width: 400px;
    }

    .SidePanel .SortChooser {
        width: 400px;
    }

    .SidePanel .GroupsChooser {
        width: 100px;
    }

    .SidePanel .AutoGroupChooser {
        width: 100px;
    }

    .SidePanel .ZoomChooser {
        width: 325px;
    }

    .SidePanel .CompareChooserLeftNetwork {
        width: 400px;
    }

    .SidePanel .CompareChooserRightNetwork {
        width: 400px;
    }

    .SidePanelLarge .CompareChooserReference {
        width: 400px;
    }

    .SidePanel select {
        height: 30px;
        font-size: 24px;
    }

    .SidePanel button {
        height: 30px;
        font-size: 24px;
    }

    .SidePanel .LegendText {
        font-size: 20px;
    }
}

/* Smaller screens */
@media only screen and (max-height: 600px) {
    .SidePanel
    {
	    top: 90px;
    }
}

/* Microsoft Surface */
@media only screen and (width: 1368px) and (height: 912px) {
    /*.SidePanel
    {
	    top: 90px;
    }*/
}