﻿div.tooltip {  
    position: absolute;
	max-width: 3in;
    text-align: left;
    border-top:thick double #ffffff;
    border-bottom:thick double #ffffff;        
    padding: 5px;
    font-family: Sans-serif;
    font-size: 10pt;
    color: #ffffff;
    background: #302833;
    display: inline-block;                
    pointer-events: none;
    transition-property: opacity;
    transition-duration: 350ms;
}

div.tooltip td
{
	vertical-align: top;
	padding: 3px;
	border: none;
}