﻿
/* Specific div for function buttons */
.RegulonGraphViewerTouchButtons
{
    float:left;
    text-align:center;
    font-size: 10pt;
}

/* Function button table cell */
.RegulonGraphViewerTouchButtons td
{
    width: 110px;
    vertical-align: top;
}

/* Table that contains the function buttons and labels */
.RegulonGraphViewerTouchButtons table
{
    display:inline-block;
    /* Allows vertical lines to not have gaps */
    border-collapse: collapse;
}

/* For cells that are meant to act as a divider*/
.RegulonGraphViewerTouchButtons_Divider {
    border-left: 2px solid #dedede;
}

/* Seperate table for the drop downs that appear for a comparison */
.RegulonGraphViewerTouchButtons_CompareTable {
    width: auto;
    vertical-align: top;
}

.TouchButton {
    width: 70px;
    height: 70px;
    cursor: pointer;
    color:transparent;
	padding: 0px;
	border: 0px;
}

.TouchButtonSmall {
    width: 35px;
    height: 35px;
    cursor: pointer;
    color:transparent;
	padding: 0px;
	border: 0px;
}

.ZoomLevel1Active {
    background-image:url(/RegulonExplorer/Images/Buttons/button_zoomlevel1.png);
}

.ZoomLevel1Inactive {
    background-image:url(/RegulonExplorer/Images/Buttons/button_zoomlevel1inactive.png);
}

.ZoomLevel2Active {
    background-image:url(/RegulonExplorer/Images/Buttons/button_zoomlevel2.png);
}

.ZoomLevel2Inactive {
    background-image:url(/RegulonExplorer/Images/Buttons/button_zoomlevel2inactive.png);
}

.ZoomLevel3Active {
    background-image:url(/RegulonExplorer/Images/Buttons/button_zoomlevel3.png);
}

.ZoomLevel3Inactive {
    background-image:url(/RegulonExplorer/Images/Buttons/button_zoomlevel3inactive.png);
}

.ZoomLevel4Active {
    background-image:url(/RegulonExplorer/Images/Buttons/button_zoomlevel4.png);
}

.ZoomLevel4Inactive {
    background-image:url(/RegulonExplorer/Images/Buttons/button_zoomlevel4inactive.png);
}

.Sorting {
    background-image:url(/RegulonExplorer/Images/Buttons/button_sortdefault.png);
}

.ClearSelection {
    background-image:url(/RegulonExplorer/Images/Buttons/button_clearselection.png);
}

.HighlightGOTerm {
    background-image:url(/RegulonExplorer/Images/Buttons/button_goterm.png);
}

.HighlightSearch {
    background-image:url(/RegulonExplorer/Images/Buttons/button_search.png);
}

.NumberOfGroups {
    background-image:url(/RegulonExplorer/Images/Buttons/button_numberofgroups.png);
}

.AutogroupActive {
    background-image:url(/RegulonExplorer/Images/Buttons/button_autogroupon.png);
}

.AutogroupInactive {
    background-image:url(/RegulonExplorer/Images/Buttons/button_autogroupoff.png);
}

.RecalculateGroups {
    background-image:url(/RegulonExplorer/Images/Buttons/button_recalculategroups.png);
}

.AutoCentroidActive {
    background-image:url(/RegulonExplorer/Images/Buttons/button_autocentroidon.png);
}

.AutoCentroidInactive {
    background-image:url(/RegulonExplorer/Images/Buttons/button_autocentroidoff.png);
}

.SaveCSV {
    background-image:url(/RegulonExplorer/Images/Buttons/button_save.png);
}

.LoadCSV {
    background-image:url(/RegulonExplorer/Images/Buttons/button_load.png);
    margin: 0 auto;
}

.ComparisonLockActive {
    background-image:url(/RegulonExplorer/Images/Buttons/button_lockon.png);
}

.ComparisonLockInactive {
    background-image:url(/RegulonExplorer/Images/Buttons/button_lockoff.png);
}

.SidePanelShow {
    background-image:/*url(/RegulonExplorer/Images/Buttons/button_sidepanelshow.png)*/url(/RegulonExplorer/Images/Buttons/button_legendnew.png);
    position:absolute;
    top:151px;
    left:1px;
    bottom: 0px;
    z-index:3;
    width:35px;
    height:/*35px*/70px;
    cursor: pointer;
    color:transparent;
	padding: 0px;
	border: 0px;
}

.SidePanelHide {
    background-image:/*url(/RegulonExplorer/Images/Buttons/button_sidepanelhide.png)*/url(/RegulonExplorer/Images/Buttons/button_legendnew.png);
    position:absolute;
    top:151px;
    left:/*1px*/352px;
    bottom: 0px;
    z-index:3;
    width:35px;
    height:/*35px*/70px;
    cursor: pointer;
    color:transparent;
	padding: 0px;
	border: 0px;
}

.TouchButtonPopupSubButton {
	margin: 0px 2pt 0px 0px;
	padding: 4px 10px 4px 10px;
	cursor: pointer;
	vertical-align: middle;
	display: inline-block;
	border-radius: 4px;
	font-family: Sans-Serif;
	background: rgb(230,230,230);
	color: rgb(64,64,64);
    font-size: medium;
}

.TouchButtonPopupSubInput {
	margin: 0px 2pt 0px 0px;
	padding: 4px 10px 4px 10px;
	display: inline-block;
	border-radius: 4px;
	font-family: Sans-Serif;
    font-size: medium;
    width: 120px;
}
.TouchButtonPopupSubInputMini {
    width: 30px;
}

@media only screen and (min-width: 1921px) and (min-height: /* 1201px */ 1081px) {

    .RegulonGraphViewerTouchButtons
    {
        font-size: 20pt;
    }

    .RegulonGraphViewerTouchButtons td
    {
        width: 220px;
    }

    .RegulonGraphViewerTouchButtons_Divider {
        border-left: 4px solid #dedede;
    }

    .TouchButton {
        width: 140px;
        height: 140px;
        /*cursor: pointer;
        color:transparent;
	    padding: 0px;
	    border: 0px;*/
    }

    .TouchButtonSmall {
        width: 70px;
        height: 70px;
        /*cursor: pointer;
        color:transparent;
	    padding: 0px;
	    border: 0px;*/
    }

    .ZoomLevel1Active {
        background-image:url(/RegulonExplorer/Images/Buttons/button_zoomlevel1_large.png);
    }

    .ZoomLevel1Inactive {
        background-image:url(/RegulonExplorer/Images/Buttons/button_zoomlevel1inactive_large.png);
    }

    .ZoomLevel2Active {
        background-image:url(/RegulonExplorer/Images/Buttons/button_zoomlevel2_large.png);
    }

    .ZoomLevel2Inactive {
        background-image:url(/RegulonExplorer/Images/Buttons/button_zoomlevel2inactive_large.png);
    }

    .ZoomLevel3Active {
        background-image:url(/RegulonExplorer/Images/Buttons/button_zoomlevel3_large.png);
    }

    .ZoomLevel3Inactive {
        background-image:url(/RegulonExplorer/Images/Buttons/button_zoomlevel3inactive_large.png);
    }

    .ZoomLevel4Active {
        background-image:url(/RegulonExplorer/Images/Buttons/button_zoomlevel4_large.png);
    }

    .ZoomLevel4Inactive {
        background-image:url(/RegulonExplorer/Images/Buttons/button_zoomlevel4inactive_large.png);
    }

    .Sorting {
        background-image:url(/RegulonExplorer/Images/Buttons/button_sortdefault_large.png);
    }

    .ClearSelection {
        background-image:url(/RegulonExplorer/Images/Buttons/button_clearselection_large.png);
    }

    .HighlightGOTerm {
        background-image:url(/RegulonExplorer/Images/Buttons/button_goterm_large.png);
    }

    .HighlightSearch {
        background-image:url(/RegulonExplorer/Images/Buttons/button_search_large.png);
    }

    .NumberOfGroups {
        background-image:url(/RegulonExplorer/Images/Buttons/button_numberofgroups_large.png);
    }

    .AutogroupActive {
        background-image:url(/RegulonExplorer/Images/Buttons/button_autogroupon_large.png);
    }

    .AutogroupInactive {
        background-image:url(/RegulonExplorer/Images/Buttons/button_autogroupoff_large.png);
    }

    .RecalculateGroups {
        background-image:url(/RegulonExplorer/Images/Buttons/button_recalculategroups_large.png);
    }

    .AutoCentroidActive {
        background-image:url(/RegulonExplorer/Images/Buttons/button_autocentroidon_large.png);
    }

    .AutoCentroidInactive {
        background-image:url(/RegulonExplorer/Images/Buttons/button_autocentroidoff_large.png);
    }

    .SaveCSV {
        background-image:url(/RegulonExplorer/Images/Buttons/button_save_large.png);
    }

    .LoadCSV {
        background-image:url(/RegulonExplorer/Images/Buttons/button_load_large.png);
        margin: 0 auto;
    }

    .ComparisonLockActive {
        background-image:url(/RegulonExplorer/Images/Buttons/button_lockon_large.png);
    }

    .ComparisonLockInactive {
        background-image:url(/RegulonExplorer/Images/Buttons/button_lockoff_large.png);
    }

    .SidePanelShow {
        background-image:/*url(/RegulonExplorer/Images/Buttons/button_sidepanelshow_large.png)*/url(/RegulonExplorer/Images/Buttons/button_legendnew_large.png);
        top:251px;
        /*left:1px;
        bottom: 0px;
        z-index:3;*/
        width:70px;
        height:/*70px*/140px;
        /*cursor: pointer;
        color:transparent;
	    padding: 0px;
	    border: 0px;*/
    }

    .SidePanelHide {
        background-image:/*url(/RegulonExplorer/Images/Buttons/button_sidepanelhide_large.png)*/url(/RegulonExplorer/Images/Buttons/button_legendnew_large.png);
        top:251px;
        /*left:1px;
        bottom: 0px;
        z-index:3;*/
        width:70px;
        height:/*70px*/140px;
        /*cursor: pointer;
        color:transparent;
	    padding: 0px;
	    border: 0px;*/
    }

    .TouchButtonPopupSubButton {
        font-size: larger;
    }

    .TouchButtonPopupSubInput {
        font-size: larger;
        width: 240px;
    }
    .TouchButtonPopupSubInputMini {
        width: 60px;
    }
}

/* Smaller screens */
@media only screen and (max-height: 600px) {
    .TouchButton {
        width: 35px;
        height: 35px;
        /*cursor: pointer;
        color:transparent;
	    padding: 0px;
	    border: 0px;*/
        background-size: 35px 35px;
    }

    .RegulonGraphViewerTouchButtons
    {
        font-size: 7pt;
    }

    .RegulonGraphViewerTouchButtons td
    {
        width: 55px;
    }

    .SidePanelShow
    {
        top: 91px;
    }

    .SidePanelHide
    {
        top: 91px;
    }



    .TouchButtonPopupSubButton {
	    margin: 0px 1pt 0px 0px;
	    padding: 2px 5px 2px 5px;
	    border-radius: 2px;
        font-size: smaller;
    }

    .TouchButtonPopupSubInput {
	    margin: 0px 1pt 0px 0px;
	    padding: 2px 5px 2px 5px;
	    border-radius: 2px;
        font-size: smaller;
    }
}

/* Microsoft Surface */
@media only screen and (width: 1368px) and (height: 912px) {
    /*.TouchButton {
        width: 35px;
        height: 35px;
        /*cursor: pointer;
        color:transparent;
	    padding: 0px;
	    border: 0px;*/
    /*}

    .RegulonGraphViewerTouchButtons
    {
        font-size: 7pt;
    }

    .RegulonGraphViewerTouchButtons td
    {
        width: 55px;
    }

    .SidePanelShow
    {
        top: 91px;
    }

    .SidePanelHide
    {
        top: 91px;
    }*/
}
