#appHeader {
  background-color: #666; /*#4f034f;*/
  background: -webkit-linear-gradient(top,#666 0,#000 100%);
  background: -moz-linear-gradient(top,#666 0,#000 100%);
  background: -o-linear-gradient(top,#666 0,#000 100%);
  background: linear-gradient(to bottom,#666 0,#000 100%);
  background-repeat: repeat-x;
  /*background-color: #000;*/
  color: #ffffff;
  cursor:default;
  
  position:fixed;
  display: inline-block;
  top: 0px;
  left: 0px;      
  height: 60px;
  text-align: left;
  padding-left: 20px;
}

#appHeader h1 {
  line-height: 0pt;
  font-weight: 400;
}

body{
  font: 100% "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
}

/*****************************************************************************
 * WHEEL
 *****************************************************************************/
.wheel, #wheel1, #wheel2{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

/* default text */
/* text{
  font-size: 11pt;
} */

.node circle {
  fill: #ffffff; 
}

.node:hover circle {  
  stroke: #302833;
  stroke-width: 2px;  
}

.node:hover text {  
  font-weight: bold;
}

.link{  
  stroke: #302833;
  stroke-width: 2px;  
}

.genomeLabel {
  font-style: italic;
  font-size: 13pt;
}

.geneLabel {
  font-size: 9pt;
}

.setOpLegend {
  float:left;
}

/*****************************************************************************
 * WHEEL LAYOUTS
 *****************************************************************************/
#findList {
  margin: 0 auto;
  float:right;
}

div#left {
  float:left;       
}

div#right {
  float:left;
}

#allWheels, #sideBySide{
  text-align: center;
  padding: 0px;
}

#operationResult {
  text-align: center;
  clear: both;        
}

#operationResult p {
  font-size: 12pt;
  font-style: bold;
}

#rightcontent.panel-body {
  padding-left: 10px;
  padding-right: 5px;
}

/*****************************************************************************
 * MENU
 *****************************************************************************/
#menu a.l-btn {
  width: 140px;
  text-align: center;
  display: block;
}

#menu .accordion .panel-body {
  padding-left: 5px;
  padding-right: 5px;
}

div.fileinputs {
  position: relative;
}

div.fakefile {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

input.file {
  position: relative;
  text-align: right;
  -moz-opacity:0 ;
  filter:alpha(opacity: 0);
  opacity: 0;
  z-index: 2;
}

/*****************************************************************************
 * CONTENT
 *****************************************************************************/
#content{
  background-color: #fff;
  color: #000;
}

#content .panel-body{
  background-color: inherit;
  color: #000;
}

/*****************************************************************************
 * TOOL TIP 
 *****************************************************************************/
div.tooltip {  
    position: absolute;
    text-align: left;
    border-top:thick double #ffffff;
    border-bottom:thick double #ffffff;        
    padding: 5px;
    font-family: Sans-serif;
    font-size: 9pt;
    color: #ffffff;
    background: #302833;
    display: inline-block;                
    pointer-events: none;
}